body, html
{
    width: 100%;
    margin: 0;
    padding: 0;
}

.flipconteyner
{
 width: 100%;
 height: auto;
 perspective: 1000;
}
.flipper
{
    transition: 1s;
    transform-style: preserve-3d; 
    position:relative;
}

.flipper .font, .back
{
    backface-visibility: hidden;    
}
.flip
{
    transform: rotateX(180deg);
}
.back
{
    vertical-align: middle;
    position: absolute;
    width: 100%;
    height:auto;
    top: 0;
    left: 0;
    transform: rotateX(180deg)
}
.font
{
    vertical-align: middle;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
}

