    h2{
    position: absolute;
    top: 460px;
    left: 0;
    width: 100%;
   }
        h2 span {
            color: white;
            font: bold 24px/100px Helvetica, Sans-Serif;
            letter-spacing: -1px;
            background: rgb(128, 128, 128, 0.7); 
            padding: 10px;            
        }
